:root {
  --color-neutral-950: #000112;
  --color-neutral-900: #20212c;
  --color-neutral-800: #2b2c37;
  --color-neutral-700: #3e3f4e;
  --color-neutral-600: #697589; // ~ new
  --color-neutral-500: #828fa3;
  --color-neutral-400: #a8b4c5; // ~ new
  --color-neutral-300: #c7d0dd; // ~ new
  --color-neutral-200: #e4ebfa;
  --color-neutral-100: #f4f7fd;
  --color-neutral-50: #f7f9fc; // ~ new
  --color-neutral-0: #ffffff;
}

:root {
  --color-primary-300: #a8a4ff;
  --color-primary-500: #635fc7;
}

:root {
  --color-danger-300: #ff9898;
  --color-danger-500: #ea5555;
}
