.dashboard {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  h1 {
    color: var(--color-text-primary);
  }
}

.outletWrapper {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  overflow: auto;
  display: flex;
}
